block vars
	- var active = 'Index'
	- var bodyClass = ''
	- var description = ''

extends views/layout/layout

block content
	.Page.Page--1
		.Header--1
			img(src="../images/logo.png")
		.Whiteline
		.content
			.content-box
				.content-text START </br> YOUR </br> DECISION
			.plusbutton
				img(src="../images/plusbutton.png")
		.sidebar
			#circle_1
			#circle_1_2
			#circle_2
			#circle_2_2
			#circle_3
			#circle_3_2
			#circle_4
			#circle_4_2
		.footer
			img(src="../images/arrow.png")

	.Page.Page--2
		.Header
			img(src="../images/logo.png")
		.content
			.content-site2
				img(src="../images/addbutton.png")
			.content-site2-1
		.decydeit
			.decydeit_text DECIDE IT!
		.footer
			img(src="../images/arrow.png")

	.Page.Page--3
		.Header--3n4
			//- img(src="../images/logo.png")
		.Header-text Tap your choice 
		.Header-text--smartphone TAP YOUR CHOICE
		.Whiteline
		.content
			.circle
			.circle-2
		.timebar
		.footer
			img(src="../images/arrow.png")

	.Page.Page--4
		.Header--3n4
			//- img(src="../images/logo.png")
		.Header-text Your result
		.Header-text--smartphone YOUR RESULT
		.Whiteline
		.content
			.content-bcg
				.content-site4-1 
				.content-site4-2 
				.content-site4-3
		.timebar
