/**
 * Modules
 */

$Pink:#f17a7a;
$Cream:#f2dabb;
$GreenBlueish:#87dbca;
$GreyBlue:#494d5a;
$WhiteCream:#faefe1;
$WhiteonGreenBlueish:#dcf5f0;
$Creamstep2:#f1e0c9;
$Creamstep3:#efe3d3;
$Greystep1:#c6c7cb;
$Greystep2:#8a8c95;

@font-face {
	font-family:'bebas_neueregular';
	src:url('BebasNeue-webfont.eot');
	src:url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
		url('BebasNeue-webfont.woff') format('woff'),
		url('BebasNeue-webfont.ttf') format('truetype'),
		url('BebasNeue-webfont.svg#bebas_neueregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.content-text
.Header-text
.Header-text--smartphone{
	font-family:'BebasNeueRegular',arial,sans-serif;
	font-weight:normal;
	font-style:normal;
}
html, 
body,
.SiteMain,
.Page{
	min-height:100%;
	height:100%;
}
.Page--1{
	background-color:$Pink;
}
.Header--1{
	margin:auto;
	height:98px;
	margin-bottom:1em;
	text-align:center;
	img{
		text-align:center;
		width:180px;
		padding-top:0.5em;
	}
}
.Whiteline{
	border-bottom:1px solid $WhiteCream;
	width:60%;
	margin:auto;
	margin-bottom:3em;
}
.content{
	height:30%;
	.content-box{
		text-align:center;
		width:500px;
		height:250px;
		margin-left:auto;
		margin-right:auto;
		background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAFUlEQVQImWNgQAL/////TyqHgYEBAB5CD/FVFp/QAAAAAElFTkSuQmCC);
		opacity:0.4;
		}
	.content-text{
		padding-top:0.3em;
		font-size:3.5em;
		color:$WhiteCream;
		}
}
.sidebar{
	position:fixed;
	width:50px;
	height:100px;
	top:290px;
	#circle_1{
		border-radius:50%;
		width:13px;
		height:13px; 
		margin:auto;
		margin-top:1em;
		background-color:$WhiteCream;
		}
	#circle_1_2{
		display:none;
		border-radius:50%;
		width:13px;
		height:13px; 
		margin:auto;
		margin-top:1em;
		border:1px solid $WhiteCream;
		}
	#circle_2{
		border-radius:50%;
		width:13px;
		height:13px; 
		margin:auto;
		margin-top:0.3em;
		border:1px solid $WhiteCream;
		}
	#circle_2_2{
		display:none;
		border-radius:50%;
		width:13px;
		height:13px; 
		margin:auto;
		margin-top:0.3em;
		background-color:$WhiteCream;
		}
	#circle_3{
		border-radius:50%;
		width:13px;
		height:13px; 
		margin:auto;
		margin-top:0.3em;
		border:1px solid $WhiteCream;
		}
	#circle_3_2{
		display:none;
		border-radius:50%;
		width:13px;
		height:13px; 
		margin:auto;
		margin-top:0.3em;
		background-color:$WhiteCream;
		}
	#circle_4{
		border-radius:50%;
		width:13px;
		height:13px;
		margin:auto; 
		margin-top:0.3em;
		border:1px solid $WhiteCream;
		}
	#circle_4_2{
		display:none;
		border-radius:50%;
		width:13px;
		height:13px; 
		margin:auto;
		margin-top:0.3em;
		background-color:$WhiteCream;
		}
	}
.footer{
	margin:auto;
	margin-top:9.0em;
	width:1em;
}
.plusbutton{
	display:none;
}
.Page--2{
	background-color:$GreenBlueish;
}
.Header{
	height:98px;
	margin-bottom:1em;
	text-align:left;
	margin-left:4em;
	img{
		position:fixed;
		margin-left:0.4em;
		width:100px;
		top:0.5em;
		left:2em;
		padding-top:0.5em;
	}
}
.content-site2{
	width:300px;
	height:60px;
	margin-left:auto;
	margin-right:auto;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAFUlEQVQImWNgQAL/////TyqHgYEBAB5CD/FVFp/QAAAAAElFTkSuQmCC);
	opacity:0.6;
	img{
		width:55px;
		padding-top:0.3em;
		padding-left:0.5em;
	}
}
.content-site2-1{
	width:300px;
	height:60px;
	margin-left:auto;
	margin-right:auto;
	background-color:$WhiteonGreenBlueish;
}
.decydeit{
.decydeit_text{display:none;}
}
.Page--3{
	background-color:$Cream;
}
.Header--3n4{
	text-align:left;
	margin-left:4em;
}
.Header-text{
	text-align:center;
	padding-bottom:0.5em;
	color:$WhiteCream;
	font-size:350%;
}
.Header-text--smartphone{display:none;}
.circle{
	border-radius:50%;
	float:left;
	width:200px;
	height:200px; 
	margin-left:25%;
	margin-right:auto;
	background-color:$WhiteCream;
}
.circle-2{
	border-radius:50%;
	float:right;
	width:200px;
	height:200px; 
	margin-left:auto;
	margin-right:25%;
	background-color:$WhiteCream;
}
.Page--4{
	background-color:$GreyBlue;
}
.content-bcg{
	width:300px;
	height:186px;
	margin-left:auto;
	margin-right:auto;
	background-color:$WhiteCream;
}
.content-site4-1{
	width:300px;
	height:60px;
	margin-bottom:2px;
	background-color:$Cream;
}
.content-site4-2{
	width:300px;
	height:60px;
	margin-bottom:2px;
	background-color:$Creamstep2;
}
.content-site4-3{
	width:300px;
	height:60px;
	margin-bottom:2px;
	background-color:$Creamstep3;
}