// PAGE TRANSITION
.pt-perspective {
	position: relative;
	width: 100%;
	height: 100%;
	perspective: 1200px;
	transform-style: preserve-3d;
}
.pt-page { 
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	visibility:hidden;
	overflow:hidden;
	backface-visibility:hidden;
	transform:translate3d(0, 0, 0);
}
.pt-page-current,
.no-js .pt-page{
	visibility:visible;
}
.no-js body{
	overflow:auto;
}
.pt-page-ontop{
	z-index:999;
}

.pt-page-moveToBottom{
	-webkit-animation:moveToBottom .6s ease both;
	-moz-animation:moveToBottom .6s ease both;
	animation:moveToBottom .6s ease both;
}

@-webkit-keyframes moveToBottom{
	to{-webkit-transform:translateY(100%);}
}
@-moz-keyframes moveToBottom{
	to{-moz-transform:translateY(100%);}
}
@keyframes moveToBottom{
	to{transform:translateY(100%);}
}
// .pt-page-moveToBottomEasing {
// 	-webkit-animation: moveToBottom .7s ease-in-out both;
// 	-moz-animation: moveToBottom .7s ease-in-out both;
// 	animation: moveToBottom .7s ease-in-out both;
// }